body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 0 10vh 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

#meal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.meal {
    background-color: white;
    width: 200px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.meal img {
    width: 100%;
    border-radius: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

/* Modal styling */
.modal {
    display: none;            /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    padding-bottom: 10vh;
}

/* Visible state */
.modal.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 30px 20px 50px 20px;
    width: 90%;
    max-width: 600px;
    border-radius: 8px;
    max-height: 85vh;
    overflow-y: auto;
}

.close {
    font-size: 28px;
    color: #aaa;
    float: right;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

#modal-image {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}
